local_backend: false

# Use DecapBridge PKCE auth (required)
backend:
  name: git-gateway
  repo: bulnes/querodireito.com.br
  branch: main
  auth_type: pkce
  base_url: https://auth.decapbridge.com
  auth_endpoint: /sites/ae3beee8-90e6-45b9-93f7-9873cb7937ca/pkce
  auth_token_endpoint: /sites/ae3beee8-90e6-45b9-93f7-9873cb7937ca/token
  gateway_url: https://gateway.decapbridge.com

  # See who did what (optional)
  commit_messages:
    create: Create {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    update: Update {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    delete: Delete {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    uploadMedia: Upload “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    deleteMedia: Delete “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    openAuthoring: Message {{message}} - {{author-name}} <{{author-login}}> via DecapBridge

# Enable PKCE fields (optional, recommended)
auth:
  email_claim: email
  first_name_claim: first_name
  last_name_claim: last_name
  avatar_url_claim: avatar_url

# Better Decap + Bridge logo (optional)
logo_url: https://decapbridge.com/decapcms-with-bridge.svg

# Add site links in Decap CMS (optional)
site_url: https://querodireito-com-br.vercel.app

locale: "pt"

display_url: https://querodireito-com-br.vercel.app

media_folder: "public/_media/uploads"

editor:
  preview: false

collections:
  # ****************************************************************************
  # COMPONENTES (MENU, FOOTER, FAQ)
  # ****************************************************************************
  - label: "Componentes"
    name: "components"
    files:
      - label: "Menu"
        name: "menu"
        file: "cmsContent/components/menu.md"
        fields:
          - label: Seções
            label_singular: Seção
            name: sections
            widget: list
            fields:
              - { label: "Título da seção", name: title, widget: string }
              - label: Links
                label_singular: Link
                name: links
                widget: list
                fields:
                  - { label: Texto, name: label, widget: string }
                  - { label: URL, name: url, widget: string }
      - label: "Rodapé"
        name: "footer"
        file: "cmsContent/components/footer.md"
        fields:
          - label: "Razão Social"
            name: razao_social
            widget: string
          - label: "CNPJ"
            name: cnpj
            widget: string
          - label: "Endereço"
            name: address
            widget: text
          - label: "Telefone de contato"
            name: phone_number
            widget: string
          - label: "E-mail de contato"
            name: email
            widget: string
          - label: "Aviso legal"
            name: aviso_legal
            widget: text
          - label: Seções
            label_singular: Seção
            name: sections
            widget: list
            fields:
              - { label: "Título da seção", name: title, widget: string }
              - label: Links
                label_singular: Link
                name: links
                widget: list
                fields:
                  - { label: Texto, name: label, widget: string }
                  - { label: URL, name: url, widget: string }
      - label: "Faq"
        name: "faq"
        file: "cmsContent/components/faq.md"
        fields:
          - label: Perguntas e Respostas
            label_singular: item
            name: qna
            widget: list
            fields:
              - { label: "Pergunta", name: question, widget: string }
              - { label: "Resposta", name: answer, widget: string }

  # ****************************************************************************
  # PAGES
  # ****************************************************************************
  - label: "Página"
    label_singular: "página"
    name: "pages"
    folder: "cmsContent/pages"
    create: true
    nested:
      depth: 4
      summary: "{{meta.path}}"
    meta:
      path:
        widget: string
        label: "Caminho da página"
        index_file: "index"
        default: "/nova-pagina"
        pattern:
          ['^([a-zA-Z0-9\-_\/]+)$', "O caminho da página deve ser válido"]
        hint: "Use esse campo para definir o caminho da página atual. Exemplo: /trabalhista ou /advogado/justa-causa"
    fields:
      - label: "Título"
        name: "title"
        widget: string
      - label: "Descrição"
        name: "description"
        widget: string
